.userContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 20px;
    border: solid 2px black ;
    border-radius: 15px;
    height: 160px;
    width: 400px;
}

.topCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.numHire{
padding:5px
}

.date{
    padding:5px
}

.bottomCard{
display: flex;
}

.icon{
    display: flex;
    left: 0;
    margin: auto;
    margin-left: 0;
    color: #018786;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.containerInfos{
display: flex;
flex-direction: column;
padding: 5px;
flex-grow: 2;
}

.infos{
    padding: 5px;

}

.button{
    cursor: pointer;
    background-color: #018786;
    border-radius: 5px;
    padding: 5px;
}
.allRequestContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    margin-bottom: 10px;
    max-height: 270px;
}