@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Fredoka One', sans-serif;
}

h1{
  font-family: 'Fredoka One', sans-serif;
}

span{
  font-family: 'Fredoka One', sans-serif;

}

button{
  font-family: 'Fredoka One', sans-serif;

}

* {
  box-sizing: border-box;
}