.main {
  height: 100vh;
}

.hireRequestContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 20px;
  width: 85%;
  min-height: 80px;
  cursor: pointer;
  margin-top: 10px;
}

.rhDetailsContainer {
  display: flex;
  flex-direction: column;
}
