.allContainer{
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: calc(100vh - 73px);
}

.titleH1 {
  text-align: center;
}

.titleH2 {
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
}

.newHireRequestBtn {
  width: 300px;
  height: 70px;
  color: #ee5340;
  background-color: white;
  border: 1px solid #ee5340;
  border-radius: 20px;
  cursor: pointer;
}
.newEvolutionRequestBtn {
  width: 300px;
  height: 70px;
  color: #ee5340;
  background-color: white;
  border: 1px solid #ee5340;
  border-radius: 20px;
  cursor: pointer;
}

.allRequestContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
  margin-bottom: 40px;
  max-height: 270px;
}

.hireRequestContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100wh;
  max-height: calc(100vh - 233px);
}

.letterHead {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 5px 2px 0.5px;
  width: 90%;
  margin-top: 10px;
}

.dashboardBtn {
  margin: auto;
  width: 500px;
  height: 50px;
  border-radius: 20px;
  background-color: #018786;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: -30px;
}
.demande{
  margin-left: -160px;
}
.etat{
  margin-left: -30px;
}
.date{
  margin-left: -110px;
}
.detail{
  margin-right: 30px;
}