.main {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 73px);
}

.titleH1 {
  text-align: center;
}

.titleH2 {
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
}

.newHireRequestBtn {
  width: 300px;
  height: 70px;
  color: #ee5340;
  background-color: white;
  border: 1px solid #ee5340;
  border-radius: 20px;
  cursor: pointer;
}
.newEvolutionRequestBtn {
  width: 300px;
  height: 70px;
  color: #ee5340;
  background-color: white;
  border: 1px solid #ee5340;
  border-radius: 20px;
  cursor: pointer;
}

.hireRequestContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hireRequestToScroll {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  max-height: 270px;
  width: 100%;
}

.letterHead {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 5px 2px 0.5px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: sticky;
}

.dashboardBtn {
  width: 500px;
  height: 50px;
  border-radius: 20px;
  background-color: #018786;
  color: white;
  cursor: pointer;
  margin: auto;
  margin-top: 20px;
}
