.allUsersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.title {
  display: flex;
  align-items: center;
}
.mainManageUsersContainer {
  min-height: 100vh;
  margin: 30px;
}

.mainManagerUsers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
}

.addUserBtnAndTitle {
  display: flex;
  justify-content: space-between;
}

.addUserBtn {
  display: flex;
  align-items: center;
  height: 70px;
  border: 1px solid #018786;
  border-radius: 20px;
  background-color: white;
  color: #018786;
  cursor: pointer;
}

.backBtn {
  background-color: #857770;
  color: white;
  width: 300px;
  border-radius: 20px;
  cursor: pointer;
}

.whiteText {
  color: white;
}

.userPlusIcon {
  margin: 10px;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 500px;
  height: 500px;
}
.btnContainer {
  display: flex;
}
