.allContainer {
  height: 100vh;
}

.allUsersContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  width: 100wh;
  margin-bottom: 40px;
}

.title {
  display: flex;
  align-items: center;
}

.mainManagerUsers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: calc(100vh - 73px);
}

.addUserBtnAndTitle {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.addUserBtn {
  display: flex;
  align-items: center;
  height: 70px;
  border: 1px solid #018786;
  border-radius: 20px;
  background-color: white;
  color: #018786;
  cursor: pointer;
}

.backBtn {
  background-color: #857770;
  color: white;
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 30px;
}

.whiteText {
  color: white;
}

.userPlusIcon {
  margin: 10px;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  width: 500px;
  height: 500px;
}
.btnContainer {
  display: flex;
}

.error {
  color: #f44336;
  font-size: smaller;
}
