.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6200ee;
    padding: 10px 20px;
    border-bottom:solid 3px;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px;
  }
  
  .dropdownContainer {
    display: flex;
    align-items: center;
  }
  
  .userIcon {
    color: #018786;
    font-size: 1.5rem;
    margin-right: 8px;
  }
  
  .userArrow{
    color: black;
    font-size: 1.5rem;
    margin-right: 8px;
  }
  
  
  .popover {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	width: 100px;
	background-color: #018786;
	color: white;
	border: 2px black solid;
	border-radius: 4px;
	transition-duration: 0.5s;
	cursor: pointer;
    
}
.popover:hover {
	background-color: #03DAC6;
	color: #F2A643;
	border: none;
}
.popoverContent {
	display: flex;
	flex-direction: column;
    justify-content: flex-end;
}