

.cardsContainer {
  display: flex;
  justify-content: space-around;
}
.btnContainer{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 10px;
}
.confirmBtn{
  margin-left: 40px;
}
.detailsCard{
  animation: drop-in 1000ms ease-out;
}
.wageCard{  
  animation: drop-in 1000ms ease-out;
}
.contractCard{
  animation: slide-up 1000ms ease-out;
}
@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%); 
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}