.userContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 20px;
  width: 70%;
  height: 137px;
  cursor: pointer;
  margin-top: 10px;
}

.circleXmark {
  color: #ee5340;
  margin-left: 10px;
}

.detailsUser {
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;
}

.roleBtnAndXmark {
  display: flex;
}
